<div class='container'>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Welcome to IcePark</h2>
            <p>Your one-stop destination for all things ice skating!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-products></app-products>
        </div>
        <div class="col-md-3">
            <app-products></app-products>
        </div>
        <div class="col-md-3">
            <app-products></app-products>
        </div>
        <div class="col-md-3">
            <app-products></app-products>
        </div>
    </div>

</div>
