<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
        <span class="fs-1"><i class="bi bi-earbuds"></i>
       &nbsp; IcePark</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link bg-white text-black rounded-pill ps-5 pe-5 text-center m-2" aria-current="page" href="#">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link bg-white text-black rounded-pill ps-5 pe-5 text-center m-2" aria-current="page" href="#">About US</a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-white text-black rounded-pill ps-5 pe-5 text-center m-2" aria-current="page" href="#">Play Area</a>
        </li>

        <li class="nav-item">
          <a class="nav-link bg-white text-black rounded-pill ps-5 pe-5 text-center m-2" aria-current="page" href="#">Contact US</a>
        </li>
      
      
      </ul>
    </div>
  </div>
</nav>
