<div class="container">

  <h1>Users List</h1>

  <button (click)="getUsers()">
    Get Users
  </button>

  <div class="users">

    @for (user of users; track user.id) {
    <div class="user-card">

      <h2>{{ user.name }}</h2>

      <p>
        <strong>Username:</strong>
        {{ user.username }}
      </p>

      <p>
        <strong>Email:</strong>
        {{ user.email }}
      </p>

      <p>
        <strong>Phone:</strong>
        {{ user.phone }}
      </p>

      <p>
        <strong>Website:</strong>
        {{ user.website }}
      </p>

    </div>
    }

  </div>

</div>